:root {
    font-size: 12px;
    --bg-color: #1b262c;
    --font-color: #b8b8af;
    /*浅色字体*/
    --light-font-color: #9c9c94;
    /*强调色*/
    --emb-color: #c6b497;
}

body {
    padding: 0;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    min-height: calc(100vh - 2rem);
    margin: 2rem 0 0;
    font: 500 1rem/1.8 Source Hans Sans, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

.container {
    width: 45%;
    max-width: 650px;
    margin: 0 auto 5rem;
    color: var(--font-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--emb-color);
}

img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

pre {
    overflow: auto;
}

.my :not(pre) > code {
    color: var(--light-font-color);
    padding: 0 .2em;
}

.my pre > code {
    display: block;
    max-height: 500px;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    position: fixed;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 3px;
}

*::-webkit-scrollbar-corner {
    display: none;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-font-color);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--font-color);
}