.my-post-back {
    font-size: 1.4rem;
}

.my-post-header {
    margin-bottom: 1.6em;
}

.my-post-header h1 {
    margin: 1em 0 .4em;
    font-size: 2.2rem;
}

.my-post-header section {
    margin-bottom: 1em;
    font-size: 1.2em;
    color: var(--light-font-color);
}

.my-post-content {
    word-break: break-word;
    font-size: 1.4em;
}

.post {
    margin-bottom: 1em;
}

.post h2::before {
    content: "# ";
    color: var(--light-font-color);
    position: absolute;
    left: -1em;
}

.post h2 {
    position: relative;
    font-size: 1.4em;
    margin-top: 1em;
    font-weight: bold;
}

.post h3 {
    font-size: 1.25em;
}

.post h4 {
    font-size: 1.1em;
}

.post h5, h6 {
    font-size: 1em;
}

.my-toc {
    font-size: 1.2em;
    margin-bottom: 2em;
    max-height: 70vh;
    overflow: auto;
}

.my-toc ul {
    list-style: revert;
    margin: 0 0 0 1em;
}

.my-toc a {
    text-decoration: none;
    border-bottom: none;
}

#go-top {
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: fixed;
    left: calc(75vw);
    bottom: 40px;
    background-image: url("data:image/svg+xml,%3Csvg t='1605958907092' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1460' width='64' height='64'%3E%3Cpath d='M512 0c282.7776 0 512 229.2224 512 512s-229.2224 512-512 512S0 794.7776 0 512 229.2224 0 512 0z m0 463.8976l153.6 153.6L719.8976 563.2 512 355.3024 304.1024 563.2 358.4 617.4976l153.6-153.6z' fill='%23b8b8af' p-id='1461' data-spm-anchor-id='a313x.7781069.0.i4' class=''%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
}

@media only screen and (min-width: 960px) {
    .my-toc {
        position: fixed;
        right: calc(75vw);
        top: calc(50vh);
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 960px) {
    #go-top {
        left: unset;
        right: 40px;
    }
}
